@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center mt-5">
    <h1>TECH LOOPS</h1>
    <p>
        We make things look good! Our tech-savvy developers completed more than 100 projects for our clients! Get your peoject done by our
        top-notch talent. <a href="/Clients/Create">Contact us</a> for more information.
    </p>
</div>


<div class="container mt-5">
    <h3 class="ml-5 mb-4">Featured Technologies</h3>
    <div class="row container">

        <div id="carouselControls" class="carousel slide ml-5" data-ride="carousel">

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div>
                            <a target="_blank" href="#">
                                <img class="text-center" src="~/images/cover.jpg" alt="First slide" height="350" width="1000">
                            </a>
                        </div>
                        
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div>
                            <a target="_blank" href="#">
                                <img class="" src="~/images/cover.jpg" alt="First slide" height="350" width="1000">
                            </a>
                        </div>
                       
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div>
                            <a target="_blank" href="#">
                                <img class="" src="~/images/cover.jpg" alt="First slide" height="350" width="1000">
                            </a>
                        </div>
                        
                    </div>
                </div>
               
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
</div>


<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col-md-4">
            <h4><a  href="#">Course Loops</a></h4>
            <p>
                Interested in learning new technologies? Enrich yourself from our thousand of courses.
            </p>
            <p>
                <a href="#">Learn more &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h4><a href="#">Blog Loops</a></h4>
            <p>
                Check out the blogs and articals about the latest technologies.
            </p>
            <p>
                <a href="#">Learn more &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h4><a  href="#">Game Loops</a></h4>
            <p>
                All about games are here.
            </p>
            <p>
                <a  href="#">Learn more &raquo;</a>
            </p>
        </div>
    </div>
</div>


